.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .5rem;

    h2 {
        align-self: flex-start;
        margin-bottom: 10px;
    }
}

.categories {
    margin-bottom: 20px;

    button {
        background: none;
        cursor: pointer;
        font-size: 0.8rem;
        margin: 0 0.5rem;
        padding: 0.5rem;
        border: 1px solid #000;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #000;
            color: #fff;
        }
    }

    @media (max-width: 768px) {
        button {
            font-size: 0.7rem;
            margin: 5px;
        }
    }
}

.skeleton-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

// 3 cards per row  
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 57%;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

hr {
    border: 0.5px solid rgba(0, 0, 0, .1);
    width: 100%;
    margin-bottom: 20px;
}