// 3 cards per row  
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    width: 57%;
}

hr{
    border: 0.5px solid rgba(0, 0, 0, .1);
    width: 100%;
    margin-bottom: 20px;
}