.cart {
    padding: 20px;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin: 10px 0;
    }

    .cart-items {
        // display: flex;
        // flex-direction: column;

        .cart-item {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            .item-dt {
                display: flex;
                flex-direction: column;
                margin-right: 20px;

                span {
                    margin-bottom: 10px;
                }

                .item-name {
                    font-weight: bold;
                    font-size: 22px;
                }

                .item-price {
                    font-size: 22px;

                }

                .item-quantity {
                    font-size: 14px;
                }
            }

            .item-details {
                display: flex;
                flex-direction: column;

                img {
                    width: 200px;
                    // height: 100px;
                    margin: 10px 20px;
                }
            }
        }
    }

    .cart-summary {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .total {
            font-size: 18px;
            font-weight: bold;
        }

        .checkout-button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            width: fit-content;
        }
    }
}