.checkout-page {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;

    .personal-info-form {
        h2 {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .error-message {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .form-group {
            margin-bottom: 5px;

            input {
                width: 100%;
                padding: 10px;
                color: #000000;
                font-size: 14px;
                border: 0.5px solid #000;
                margin-bottom: 10px;
                background: transparent;
                outline: none;

                &:focus {
                    border: 1px solid #17bf4d;
                }
            }

            .horizontal-inputs {
                display: flex;
                gap: 5px;

                .input-group {
                    flex: 1;
                }
            }
        }

        .pay-msg p {
            font-size: 13px;
            margin-bottom: 5px;
            color: #565656;

            span {
                font-weight: bold;
                color: hsl(144, 69%, 38%);
            }
        }

        .pay-button {
            background: #0D0D0D;
            color: #fff;
            padding: 10px 20px;
            border: none;
            width: 100%;
            cursor: pointer;
            font-size: 16px;
        }
    }

    .cart-summary {
        width: 50%;
        padding-left: 40px;
        order: 2; 

        .cart-header {
            display: flex;
            justify-content: space-between;

            .back-button {
                color: #0D0D0D;
                text-decoration: underline;
                padding: 8px 16px;
                border: none;
                cursor: pointer;
                font-size: 18px;
            }
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .cart-item {
            display: flex;
            margin-bottom: 20px;

            img {
                width: 150px;
                object-fit: cover;
                height: auto;
                margin-right: 20px;
            }

            .item-details {
                flex: 1;

                .item-name,
                .price {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 10px 0;
                    text-transform: capitalize;
                }

                .item-quantity-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .quantity {
                        font-size: 14px;
                        margin-right: 10px;
                    }
                }

                .seller {
                    font-size: 14px;

                    span {
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .total-space {
            display: flex;
            justify-content: space-between;
        }

        .shipping {
            margin-bottom: 5px;
        }

        .separator-line {
            border: 1px solid #0D0D0D;
            margin: 20px 0;
        }

        .total {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #0D0D0D;
            font-weight: bold;
        }
    }

    // Media Queries
    @media (max-width: 768px) {
        flex-direction: column;
        padding: 20px;

        .personal-info-form {
            margin-bottom: 20px;
        }

        .cart-summary {
            width: 100%;
            padding-left: 0;

            .item-quantity-price {
                flex-direction: column;
                align-items: flex-start !important;
            }
        }
    }
}