// Pagination.scss

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    span {
        margin: 0;
        color: #000;
        font-size: 12px;
    }

    .page-number {
        padding: 5px;
        color: #000;
        margin: 0 5px;
        background-color: transparent;
        border: 1px solid #ddd;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #000000;
            color: #fff;
        }

    }

    .previous-btn,
    .next-btn {
        padding: 10px;
        color: #000;
        margin: 0 5px;
        background-color: transparent;
        border: 1px solid #ddd;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f0f0f0;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    button {
        padding: 8px;
        color: #fff;
        margin: 0 5px;
        background-color: #000000;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f0f0f0;
            color: #000;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    .active {
        border: 2px solid rgb(0, 0, 0);
        font-weight: bold;
    }
}