.manage-orders-page {
    padding: 20px;
    text-align: center;
    margin-left: 200px;

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .order-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th,
        td {
            border: 1px solid #e7e7e7;
            padding: 8px;
            text-align: left;
            font-size: 14px;

            ul{
                list-style-type: none;
                padding: 0;
            }
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:hover {
            background-color: #f1f1f1;
        }
    }

    .action-button {
        margin-right: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:nth-child(2) {
            background-color: #dc3545;

            &:hover {
                background-color: #c82333;
            }
        }

        &:hover {
            background-color: #0056b3;
        }
    }
}