.product-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .products-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        tr {
            &:hover {
                background-color: #f9f9f9;
            }

            .description {
                font-size: 14px;
                color: #282828;
            }
        }

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ccc;

            &:nth-child(2) {
                text-transform: capitalize;
            }
        }

        th {
            background-color: #f2f2f2;
        }

        td img {
            max-width: 80px;
            height: auto;
        }

        .delete-button {
            background-color: #ff6347;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #d63031;
            }
        }
    }
}